<launch>

	<machine name="local_alt" address="localhost" default="true" />
	
	<node name="RatSLAMLocalViewCells" pkg="ratslam_ros" type="ratslam_lv" 
		args="$(find ratslam_ros)/config/config_stlucia.txt _image_transport:=compressed" cwd="node" required="true" 
		output="screen" />
	<node name="RatSLAMPoseCells"      pkg="ratslam_ros" type="ratslam_pc" 
		args="$(find ratslam_ros)/config/config_stlucia.txt _image_transport:=compressed" cwd="node" required="true" 
		output="screen" />
	<node name="RatSLAMExperienceMap"  pkg="ratslam_ros" type="ratslam_em" 
		args="$(find ratslam_ros)/config/config_stlucia.txt _image_transport:=compressed" cwd="node" required="true" 
		output="screen" />
	<node name="RatSLAMVisualOdometry" pkg="ratslam_ros" type="ratslam_vo" 
		args="$(find ratslam_ros)/config/config_stlucia.txt _image_transport:=compressed" cwd="node" required="true" 
		output="screen" />
	
	<!-- <node pkg="rqt_plot" type="rqt_plot" name="plot_vt_em" 
		args="/stlucia/LocalView/Template/current_id, /stlucia/PoseCell/TopologicalAction/dest_id" /> -->
	
	<!-- <node pkg="rosbag" type="record" name="record" 
		args="/stlucia/ExperienceMap/Map /stlucia/ExperienceMap/RobotPose /stlucia/LocalView/Template /stlucia/PoseCell/TopologicalAction 
		-O $(find ratslam_ros)/outbag/stlucia_out.bag" /> -->

	<node name="rviz_visualisation" pkg="rviz" type="rviz" output="log" 
		args="-d $(find ratslam_ros)/config/stlucia_rviz.rviz" />

</launch>